{% extends 'subtemplates/base.html' %} 

{% block head %}
<title>HOME</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/homepage.css' %}">
{% endblock head %} 

{% block content %}
<section>
    <h1 class="title">NEWS</h1>
    <div class="notes">
        {% for note in notes %}
            <div class="note">
                <div class="note__text">
                    {{ note.text|linebreaks }}
                </div>
                <div class="note__bg">
                    <img src="../static/images/textures/papernote.png" alt="" />
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script>
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    const backgrounds = document.querySelectorAll(".note__bg");
    backgrounds.forEach(function (elt) {
        const randomInt = getRandomInt(-5, 5);
        elt.style.transform = `rotate(${randomInt}deg)`;
    });
</script>

{% endblock content%}
