<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block head %}
    <title>Base Template</title>
    {% endblock head %}

</head>

<body>
    <style>
        *, *::before, *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box !important;
        }
        html, body {
            min-height: 100%;
        }
        body {
            background: url("../static/images/textures/mainwp.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        main{
            display: grid;
            grid-template-columns: max-content 1fr;
        }
    </style>
    <header>
        {% include 'navbar.html' %}
    </header>
    <main>
        {% include 'sidebar.html' %}

        {% block content %}
    
        {% endblock content %}
    </main>
    
</body>

</html>