{% extends 'base.html' %}

{% block head %}
<title>Games</title>
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'reset.css' %}" />
<link rel="stylesheet" href="{% static 'games.css' %}" />
{% endblock head %}

{% block content %}
<main>
    {% if user.is_staff %}
    <div class="form-container">
        <form class="" action="" method="POST">
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </form>
    </div>
    {% endif %}
    <div class="games-list">
        {% for game in games %}
        <div class="game-container">
            <div class="game__date-container">
                <span class="game__date">{{game.date}} : </span>
            </div>
            <div class="game__score-container">
                <div class="home-team">{{game.home_team}}</div>
                <div class="score">
                    <span class="home-score">{{game.home_team_score}}</span>
                    -
                    <span class="away-score">{{game.away_team_score}}</span>
                </div>
                <div class="away-team">{{game.away_team}}</div>
            </div>
        </div>

        {% endfor %}
    </div>
</main>
<script>
    main = document.querySelector("main");
    console.log(main.children);
    if (main.children.length === 1) {
        main.style.display = "block";
        main.style.maxWidth = "575px";
    }
    games = document.querySelectorAll(".game__score-container");
    games.forEach(function (game) {
        homeName = game.querySelector(".home-team");
        awayName = game.querySelector(".away-team");
        homeScore = Number(
            game.querySelector(".home-score").textContent
        );
        awayScore = Number(
            game.querySelector(".away-score").textContent
        );
        if (homeScore > awayScore) {
            homeName.style.color = "green";
            homeName.style.fontWeight = 700;
        } else if (awayScore > homeScore) {
            awayName.style.color = "green";
            awayName.style.fontWeight = 700;
        }
    });
</script>
{% endblock content %}