{% extends 'base.html' %} {% block head %}
<title>Games</title>
{% load crispy_forms_tags %} {% load static %} {% load user_tags %}
<!-- <link rel="stylesheet" href="{% static 'reset.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'games.css' %}" /> -->
{% endblock head %} {% block content %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
    .games {
        background: black;
        color: white;

        max-width: 650px;
        padding: 1rem;
    }
    .form-teams {
        font-size: 0.9rem;
    }
    .games-list {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-top: 1px solid hotpink;
        padding: 0;
        padding-top: 2rem;
    }
    .game {
        display: grid;
        grid-template-columns: 100px 1fr 50px;
        gap: 2.5rem;
    }
    .game__score {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr fit-content(100px) 1fr;
        gap: 3rem;
    }
    .home-team {
        text-align: left;
    }
    .away-team {
        text-align: right;
    }
    .game__date {
        color: gray;
        font-size: 0.8125em;
    }
    .winning-team {
        color: darkgreen;
    }
    .title {
        margin-bottom: 1.5rem;
    }
    .games-container {
        font-family: "Special Elite", Courier;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        width: fit-content;
    }
    .add-game {
        max-width: 400px;
        background: black;
        color: white;
        font-size: 0.825rem;
        padding-inline: 3rem;
        padding-block: 1rem;
    }
    /* select, option {
        padding: 5px !important;
        margin: 5px !important;
        outline: none !important;
    }    
    select, input {
        background-color: black !important;
        color: white !important;
        border-radius: 0 !important;
        
    } */
</style>
<div class="games-container">
    <div class="games">
        <h3 class="title">choose teams...</h3>
        <form class="form-teams" method="get">
            {{ filter.form.as_p }}
            <button class="btn-reset" type="button">reset</button>
            <!-- <button type="submit">Filter</button> -->
        </form>

        <ul class="games-list">
            {% for game in filter.qs %}
            <div class="game" id="{{game.id}}">
                <div class="game__date">
                    <span>{{game.date}} : </span>
                </div>
                <div class="game__score">
                    <div
                        class="home-team {% if game.home_team_score > game.away_team_score %} winning-team {% endif %}"
                    >
                        {{game.home_team}}
                    </div>
                    <div>
                        <span>{{game.home_team_score}}</span>
                        -
                        <span>{{game.away_team_score}}</span>
                    </div>
                    <div
                        class="away-team {% if game.home_team_score < game.away_team_score %} winning-team {% endif %}"
                    >
                        {{game.away_team}}
                    </div>
                </div>
                <form action="{% url 'game_delete' game.id %}" method="post">
                    {% csrf_token %}
                    <input class="delete-game" type="submit" value="X" />
                </form>
            </div>
            {% endfor %}
        </ul>
    </div>

    {% if user.is_staff %}
    <div class="add-game">
        <h3 class="title">add game...</h3>
        <form class="form-add-game" action="" method="POST">
            {% csrf_token %} {{ form|crispy }}
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endif %}
</div>

<script>
    const form = document.querySelector(".form-teams");
    const resetBtn = form.querySelector(".btn-reset");

    const selects = form.querySelectorAll("select");
    selects.forEach(function (select) {
        select.addEventListener("change", function (event) {
            form.submit();
        });
    });

    resetBtn.addEventListener("click", function () {
        selects.forEach(function (select) {
            select.selectedIndex = 0;
            form.submit();
            console.log(select.selectedIndex);
        });
    });
</script>
{% endblock content %}
