{% extends 'base.html' %} 

{% block head %}
<title>Home</title>
{% endblock head %} {% block content %}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
    .note {
        position: relative;
        width: fit-content;
        max-width: 500px;
        max-height: 450px;
        overflow: hidden;
        padding-inline: 3rem;
        padding-top: 1rem;
        padding-bottom: 4rem;
        resize: both;
    }
    .note__text {
        font-family: "Special Elite", Courier;
        font-weight: 400;

        text-align: justify;
        color: black;
        width: fit-content;
        margin-inline: auto;
        position: relative;
        z-index: 2;

        display: block; /* for non-webkit browsers */
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 15;
    }
    .note__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .note__bg > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .notes {
        padding-right: 4rem;
        padding-bottom: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8rem;
    }
    .title {
        margin-top: 2rem;
        color: white;
        font-family: "Special Elite", Courier;
        text-align: center;
    }
</style>
<section>
    <h1 class="title">NEWS</h1>
    <div class="notes">
        <div class="note">
            <div class="note__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto dolores vero similique sed, magnam quas quasi quidem
                facilis unde ex. Iure molestias doloremque nostrum itaque veniam
                consectetur! Enim recusandae error inventore labore impedit
                aliquid est? Eaque quos, assumenda magnam cupiditate earum sunt
                repudiandae inventore ut eveniet provident dolor distinctio
                velit!
            </div>
            <div class="note__bg">
                <img src="../static/images/textures/papernote.png" alt="" />
            </div>
        </div>
        <div class="note">
            <div class="note__text">
                <p>TRADE</p>
                <p>WHO: LEBRON JAMES</p>
                <p>FROM: LA LAKERS</p>
                <p>TO: BOSTON CELTICS</p>
            </div>
            <div class="note__bg">
                <img src="../static/images/textures/papernote.png" alt="" />
            </div>
        </div>
        <div class="note">
            <div class="note__text">
                Basketball is a popular sport that is played all over the world.
                It is a high-energy, fast-paced game that requires skill,
                precision, and teamwork. The roots of basketball can be traced
                back to the late 19th century when it was invented by Dr. James
                Naismith, a physical education instructor from Canada. Since
                then, it has evolved into a global phenomenon, with professional
                leagues and competitions attracting millions of fans. The
                objective of the game is simple – to score more points than the
                opposing team by shooting the ball into the opponent's basket.
                Each team consists of five players who try to move the ball up
                and down the court in order to create scoring opportunities.
                With dribbling, passing, and shooting, players must utilize
                their physical abilities, strategy, and basketball IQ to
                outsmart their opponents and come out victorious. One of the
                most distinctive aspects of basketball is its fast pace. The
                game demands agility, speed, and quick decision-making, making
                it exhilarating to watch and play. Players must constantly be
                aware of their surroundings, anticipate movements, and react
                quickly to the ever-changing dynamics of the game. This fast
                pace, coupled with the physicality of the sport, makes
                basketball a true test of athleticism.
            </div>
            <div class="note__bg">
                <img src="../static/images/textures/papernote.png" alt="" />
            </div>
        </div>
        <div class="note">
            <div class="note__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto dolores vero similique sed, magnam quas quasi quidem
                facilis unde ex. Iure molestias doloremque nostrum itaque veniam
                consectetur! Enim recusandae error inventore labore impedit
                aliquid est? Eaque quos, assumenda magnam cupiditate earum sunt
                repudiandae inventore ut eveniet provident dolor distinctio
                velit!
            </div>
            <div class="note__bg">
                <img src="../static/images/textures/papernote.png" alt="" />
            </div>
        </div>
        <div class="note">
            <div class="note__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto dolores vero similique sed, magnam quas quasi quidem
                facilis unde ex. Iure molestias doloremque nostrum itaque veniam
                consectetur! Enim recusandae error inventore labore impedit
                aliquid est? Eaque quos, assumenda magnam cupiditate earum sunt
                repudiandae inventore ut eveniet provident dolor distinctio
                velit!
            </div>
            <div class="note__bg">
                <img src="../static/images/textures/papernote.png" alt="" />
            </div>
        </div>
    </div>
</section>

<script>
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    const backgrounds = document.querySelectorAll(".note__bg");
    backgrounds.forEach(function (elt) {
        const randomInt = getRandomInt(-5, 5);
        elt.style.transform = `rotate(${randomInt}deg)`;
    });
</script>

{% endblock content%}
