<style>
    nav {
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 1.25rem;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        padding: 1rem;
        padding-right: 4rem;
    }

    .auth-options {
        display: flex;
        gap: 2rem;
    }
</style>
<nav>
    <div>
        {% if user.is_authenticated %}
        <span>Hello, {{ request.user }}</span>
        {% endif %}
    </div>

    <div class="auth-options">
        {% if user.is_authenticated%}
        <span class="logout">
            <a class="aside-link" href="{% url 'logout' %}">Log Out</a>
        </span>
        {% else %}
        <span class="register">
            <a class="aside-link" href="{% url 'register' %}">Register</a>
        </span>
        <span class="login">
            <a class="aside-link" href="{% url 'login' %}">Log In</a>
        </span>
        {% endif %}
    </div>
</nav>