<style>
    aside {
        /* border: 1px solid white; */
        display: flex;
    }
    aside > ul  {
        font-family: 'Times New Roman', Times, serif;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: min(32px, 3vw);
    }
    aside > ul :first-child {
        margin-bottom: 1rem;
    }
    .aside-link {
        padding: 5px;
        text-decoration: none;
        color: white;
    }
    .aside-link:hover {
        color: white;
        outline: 1px solid yellow;
        background: black;
    }
</style>

<aside>
        <ul>
            <li>
                <a class="aside-link" href="{% url 'home' %}">go home</a>
            </li>
            <li>
                <a class="aside-link" href="{% url 'players' %}"> players </a>
            </li>
            <li>
                <a class="aside-link" href="{% url 'games' %}"> games </a>
            </li>
            <li>
                <a class="aside-link" href="{% url 'awards' %}"> awards </a>
            </li>
        </ul>
</aside>
