.awards-container {
    margin-top: 3rem;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-family: "Times New Roman", Times, serif;

    font-family: "handwriting";
    font-size: clamp(1rem, 4vw, 2.5rem);
}
.awards-container > div {
    width: 100%;
}
.awards-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    height: 100%;
    max-height: 70vh;
    overflow: auto;
}
button.award-option {
    background: transparent;
    border: none;
    color: white;
}

.award-option:hover {
    color: #800000;
    transform: scale(1.25);
}
.players-list-cont {
    height: 70vh;
    background: url("../../images/textures/Paper-texture.jpg");
    color: #800000;
    width: 100%;
    max-width: 650px;
    padding: 1rem 1rem 0 1rem;

    position: relative;
}
.pin-cont {
    max-width: 30%;
    transform: rotate(160deg) translateX(-15%) translateY(28%);
    position: absolute;
    top: 0;
    right: 0;
}

.players-list {
    max-height: 100%;
    overflow: auto;
}

#add_award {
    text-align: center;
    display: block;
    margin-bottom: 1rem;

    color: white;
    text-decoration: none;
}
#add_award:hover {
    color: #dc143c;
}

.players-list > li {
    margin-top: 0.5rem;
    padding-left: 10px;
    list-style-type: none;
}
.players-list > li:hover {
    background-color: rgba(255, 255, 255, 0.515);
}
