<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
        <title>REGISTER</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />

        <!-- prettier-ignore -->
        {% load django_bootstrap5 %} 
        {% bootstrap_css %} 
        {% bootstrap_javascript %}

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/utilities/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/utilities/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/utilities/font.css' %}">
        <link rel="stylesheet" href="{% static 'css/utilities/text.css' %}">

        <link rel="stylesheet" href="{% static 'css/auth/register.css' %}" />
</head>

<body class="form-v9">
    <div class="page-content">
        <div class="form-v9-content">
            <form class="form-detail" action="" method="POST">
                {% csrf_token %}
                <h2>Register</h2>
                <div class="form-row-total">
                    <div class="form-row">{{form.username}}</div>
                    <div class="form-row">{{form.email}}</div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">{{form.password1}}</div>
                    <div class="form-row">{{form.password2}}</div>
                </div>
                <div class="form-row-last">
                    <!-- <input type="submit" name="register" class="register" value="Register" /> -->
                    <button type="submit" name="register" class="register my-button" value="Register">
                            <span class="my-button-inside dark-brown">
                                Register</span>
                        </button>
                </div>
                {{ form.errors }}
                <div class="form-row-last">
                    <div class="d-flex justify-content-center gap-3 links">
                        Already have an account?
                        <a href="{% url 'login' %}" class="ml-2">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        //Query All input fields
        const form_fields = document.getElementsByTagName("input");
        form_fields[1].placeholder = "Username..";
        form_fields[2].placeholder = "Email..";
        form_fields[3].placeholder = "Enter password...";
        form_fields[4].placeholder = "Re-enter Password...";

        for (var field in form_fields) {
            form_fields[field].className += " input-text";
        }
    </script>
</body>

</html>